@font-face {
  font-family: "AngleciaProDisplay";
  src: url("../fount/AngleciaProDisplay-Black.otf") format("truetype");
}
@font-face {
  font-family: "AngleciaProDisplay";
  src: url("../fount/AngleciaProDisplay-BlackItalic.otf") format("truetype");
}
@font-face {
  font-family: "AngleciaProDisplay";
  src: url("../fount/AngleciaProDisplay-Bold.otf") format("truetype");
}
@font-face {
  font-family: "AngleciaProDisplay";
  src: url("../fount/AngleciaProDisplay-BoldItalic.otf") format("truetype");
}
@font-face {
  font-family: "AngleciaProDisplay";
  src: url("../fount/AngleciaProDisplay-ExtraLight.otf") format("truetype");
}
@font-face {
  font-family: "AngleciaProDisplay";
  src: url("../fount/AngleciaProDisplay-ExtraLightIt.otf") format("truetype");
}
@font-face {
  font-family: "AngleciaProDisplay";
  src: url("../fount/AngleciaProDisplay-Italic.otf") format("truetype");
}
@font-face {
  font-family: "AngleciaProDisplay";
  src: url("../fount/AngleciaProDisplay-Light.otf") format("truetype");
}
@font-face {
  font-family: "AngleciaProDisplay";
  src: url("../fount/AngleciaProDisplay-LightItalic.otf") format("truetype");
}
@font-face {
  font-family: "AngleciaProDisplay";
  src: url("../fount/AngleciaProDisplay-Medium.otf") format("truetype");
}
@font-face {
  font-family: "AngleciaProDisplay";
  src: url("../fount/AngleciaProDisplay-MediumItalic.otf") format("truetype");
}
@font-face {
  font-family: "AngleciaProDisplay";
  src: url("../fount/AngleciaProDisplay-SemiBold.otf") format("truetype");
}
@font-face {
  font-family: "AngleciaProDisplay";
  src: url("../fount/AngleciaProDisplay-SemiBoldItal.otf") format("truetype");
}
@font-face {
  font-family: "AngleciaProDisplay";
  src: url("../fount/AngleciaProText.otf") format("truetype");
}
