* {
  box-sizing: border-box;
}
/* фоновое изображение */
body::after {
  content: "";
  background-image: url("../image/лонгрид2.png");
  width: 1280px;
  height: 10029px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: calc(50% - 640px);
  opacity: 0.2;
}
/* #about section {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
} */
/* общий фон */
body {
  background-color: #e9ddcc;
  font-family: "AngleciaProDisplay";
  margin: 0 auto;
}
/* блок первый */

h1 {
  margin: 0 auto;
  margin-top: 275px;
  font-size: 110px;
  font-style: normal;
  width: 580px;
  height: 204px;
  line-height: 102px;
  text-align: center;
}

#about #sc1 img {
}
