* {
  box-sizing: border-box;
}
/* фоновое изображение */
body::after {
  content: "";
  background-image: url("../image/лонгрид2.png");
  width: 1280px;
  height: 10029px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: calc(50% - 640px);
  opacity: 0.2;
}
/* #about section {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
} */
/* общий фон */
body {
  background-color: #e9ddcc;
  font-family: "AngleciaProDisplay";
  margin: 0 auto;
  width: 1280px;
}
/* блок первый */

h1 {
  color: #3c1518;
  margin: 0 auto;
  font-size: 110px;
  font-style: normal;
  line-height: 102px;
  text-align: center;
  padding-top: 110px;
}

#sc1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-x: hidden;
  align-items: end;
}

.sc1-text {
  background-image: url(../image/Frame\ 44.png);
  width: 1010px;
  height: 563px;
  background-size: cover;
  background-position: -22px;
}
img {
  margin-top: -40px;
  height: 765px;
}
.colon {
  margin-left: -150px;
}
#colon2 {
  margin-right: -150px;
}

/* секция 2 */
#sc2 {
  height: 720px;
  background-color: #3c1518;
}
#sc2 h2 {
  color: #e9ddcc;
  font-size: 96px;
  font-family: "AngleciaProDisplay";
  font-weight: 500;
  font-style: italic;
  padding: 75px 0 0 75px;
}
#sc2 div {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
p {
  color: #e9ddcc;
}
.sod {
  font-family: "AngleciaProDisplayText";
  font-size: 40px;
}
.one {
  font-size: 96px;
  font-family: "AngleciaProDisplay";
  font-weight: 800;
  font-style: italic;
}
.two {
  font-size: 96px;
  font-family: "AngleciaProDisplay";
  font-weight: 900;
  font-style: normal;
}
.three {
  font-size: 96px;
  font-weight: 700;
  font-style: italic;
}
.four {
  font-size: 96px;
  font-weight: 400;
  font-style: normal;
}
.five {
  font-size: 96px;
  font-weight: 700;
  font-style: italic;
}
.six {
  font-size: 96px;
  font-weight: 900;
  font-style: normal;
}
